body {
    background-color: #000000;
    color: #ffffff;
    }
    
    section  {
        background: rgb(114, 10, 10);
        padding-top: 80px;
        padding-bottom: 80px;
        display: flex;
        justify-content: center;
    }

.chamada-texto {

        margin-right: 5%;
    }
    
    img {
        height: 200px;
    }

    .categoria-videos {
        display: flex;
     overflow-x: auto;
     gap: 10px;
    }
    
    /* Estilo do cabeçalho */
header {
    font-size: 2rem; /* Aumenta o tamanho do texto do cabeçalho */
}

/* Estilo para o título da chamada */
.chamada-texto h1 {
    font-size: 1.8rem; /* Aumenta o tamanho do título */
}

/* Estilo para o parágrafo da chamada */
.chamada-texto p {
    font-size: 1.5rem; /* Aumenta o tamanho do texto do parágrafo */
}

/* Estilo para os títulos das seções */
h2 {
    font-size: 1.6rem; /* Aumenta o tamanho do título da seção */
}